#!/usr/bin/env python
# -*- coding: UTF-8 -*-

ACCOUNT = ""
PASSWORD = ""

ADDRESS_MAP = {
    "RECEIVER": ("MESSANGER_CHAT_ID", "TYPE"),
    "root": ("MESSANGER_GROUP_ID", "group"),
    "user": ("MESSANGER_USER_ID", "user"),
}
